//- base.pug
doctype html
html
  head
    title Gautam Dance Academy 
    block scripts
    block style 
  body
    nav#navbar.top
        ul
            div#logo
                img(src="/static/img/logo.png", alt="")
                | GDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]   
    block content
    footer#footer 
      | Copyright 2021 @Gautam-Dance-Academy | All rights reserved 
    